.*
!.gitignore
!.spellcheck.local.yaml
*.o
*.exe
*.swp
lib
packages
build
bin/hipInfo
bin/hipBusBandwidth
bin/hipDispatchLatency
bin/hipify-clang
tags
samples/0_Intro/module_api/runKernel.hip.out
samples/0_Intro/module_api/vcpy_isa.code
samples/0_Intro/module_api/vcpy_isa.hsaco
samples/0_Intro/module_api/vcpy_kernel.co
samples/0_Intro/module_api/vcpy_kernel.code
samples/1_Utils/hipInfo/hipInfo
samples/1_Utils/hipBusBandwidth/hipBusBandwidth
samples/1_Utils/hipDispatchLatency/hipDispatchLatency
